.STYLE_RASTER {
	-fx-background-color: #FFFFF0; -fx-border-style: none; -fx-border-width: 0; -fx-border-color: grey; -fx-min-width: 60; -fx-min-height: 60; -fx-max-width:40; -fx-max-height: 40;
	
}	

.STYLE_RASTER1 {
	
	-fx-background-color: #F5F5DC; -fx-border-style: none; -fx-border-width: 0; -fx-border-color: grey; -fx-min-width: 60; -fx-min-height: 60; -fx-max-width:40; -fx-max-height: 40;
}
	
.STYLE_SNAKE {
	
	-fx-background-color: seagreen;
	-fx-background-radius: 50%; 
	-fx-background-radius: 20% 20% 20% 20%; 
	-fx-border-style: none; -fx-border-width: 0; 
	-fx-border-color: black; -fx-min-width: 60; 
	-fx-min-height:60; -fx-max-width:40; -fx-max-height: 40;
	
}	

.STYLE_APPLE {
	-fx-background-color: salmon; -fx-background-radius: 50%; -fx-background-radius: 50% 50% 50% 50%; -fx-border-color: red; -fx-border-style: none; -fx-border-width: 0; -fx-border-color: black; -fx-min-width: 60; -fx-min-height:60; -fx-max-width:40; -fx-max-height: 40;
	
	
}


.score {
	
	 -fx-font-size: 16pt;
	 -fx-text-fill: black;
	
}
